@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-neutral-900 text-white m-0 p-0;
}

li:hover span {
  transform: translateY(0) scale(2); /* Spans scale up on hover */
}

li span {
  transform: translateY(150%); /* Initially position them off-screen */
  transition: transform 0.5s ease-in-out;
  border-radius: 50%;
  min-height: 100%;
  height: 100%;
  z-index: 0;
}

/* For smaller screens */
@media (max-width: 1024px) {
  li span {
    /* On smaller screens, ensure the spans scale properly */
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }

  li:hover span {
    transform: translateY(0) scale(1.5);
  }
}

::-webkit-scrollbar {
  width: 0dvw;
  height: 0.35dvh;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #666;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
}
